# airflow_prod/.env
# Podmień na swoje dane dostępowe
 
# ── Airflow ───────────────────────────────────────────────────────────────────
AIRFLOW_UID=50000

AIRFLOW_DB_USER=<user>
AIRFLOW_DB_PASSWORD=<password>
AIRFLOW_DB_NAME=<db_name>
AIRFLOW_DB_PORT=5432

AIRFLOW_ADMIN_USERNAME=<user>
AIRFLOW_ADMIN_PASSWORD=<password>
AIRFLOW_ADMIN_EMAIL=admin@example.com


# ── Selenium Grid ───────────────────────────────────────────────────────────────────
SELENIUM_VNC_PASSWORD=<password>

 
# ── Twoja baza projektowa PostgreSQL (na Windows) ────────────────────────────
POSTGRES_LOCAL_USER=<user>
POSTGRES_LOCAL_PASSWORD=<password>
POSTGRES_LOCAL_DB=<db_name>
POSTGRES_LOCAL_PORT=5432


# ── Loader JSON ───────────────────────────────────────────────────────────────────
# Połączenie dla loaderów
DB_HOST=<host>
DB_PORT=5432
DB_USER=<user>
DB_PASSWORD=<db_name>
DB_NAME=<db_name>


# ── SendGrid ───────────────────────────────────────────────────────────────────
# połączeneie do serwera pocztowego send grid
SENDGRID_API_KEY=SG.<api_key>
REPORT_EMAIL=<report_email>
SENDER_EMAIL=<sender_email>